html {
    background-image: url('./cartographer.png');
}

section {
    width: 50vw;
    min-height: 70vh;
    margin:5vh 25vw;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    color: lightgrey;
}

section p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

section a {
    text-decoration: none;
    color: rgb(118, 50, 182);
}

section a:hover {
    color: #7bddf8;
}

h1,
h2,
h4 {
    margin-top:0;
}

h1 {
    text-align:center;
    font-size:2.4rem;
    margin-bottom:2.8rem;
}

h2 {
    font-size:2rem;
    margin-bottom:1.4rem;
}

h4 {
    font-size:1.2rem;
    margin-bottom:0;
}

p {
    margin-top:0;
    font-size:1.4rem;
    margin-bottom:0.7rem;
}

a {
    outline: 0;
}

label {
    font-size: 1.4rem;
}

input {
    margin-top: 0.7rem;
    margin-bottom:1.4rem;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.158);
    border: none;
    color: lightgrey;
    font-size: 1.4rem;
}

input:focus {
    background-color:#7bddf88f;
    transition: ease-in-out 500ms;
}

textarea {
    margin-top: 0.7rem;
    margin-bottom:1.4rem;
    width: 60%;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.158);
    border: none;
    color: lightgrey;
    font-size: 1.4rem;
}

table {
    width: 100%;
    margin: 0.7rem auto;
    table-layout: fixed;
}

th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color:rgb(53, 50, 50)
}

tr:nth-child(odd) {
    background-color:rgb(36, 34, 34)
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.Week-td {
    width: 10%;
}

th.Option-td {
    width: 10%;
}

.Num-input {
    width: 10%;
}

.Submit-button {
    padding: 8px;
    width: 20%;
    border: 1px dashed rgb(118, 50, 182);
    transition: ease-in-out 500ms;
    font-size: 1.4rem;
    background-color: transparent;
}

.Submit-button:hover {
    border: 1px solid #7bddf8;
    color: #7bddf8;
    transition: ease-in-out 500ms;
}

.Submit-button:focus {
    border: 1px dashed rgb(118, 50, 182);
    background-color: transparent;
}

.Submit-button:focus:hover {
    border: 1px solid #7bddf8;
    color: #7bddf8;
    transition: ease-in-out 500ms;
}

.App {
    text-align: center;
}

.App-header {
    height: 10vh;
}

.Markdown-div {
    padding: 0.7rem;
}

.Section-div {
    padding: 0.7rem;
}

.Error-msg {
    color: rgba(255, 0, 0, 0.596);
    text-align: center;
}

.Success-msg {
    color: rgba(21, 255, 0, 0.596);
    text-align: center;
}
